<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="preset-question" value="qqq"/>
    <add key="salt1" value="^s@a3lt1"/>
    <add key="salt2" value="~s-+a*?l54Xt))2==."/>
    <add key="salt3" value="%s99a0l7Ot3"/>
    <add key="key-hash" value="kbPFDueYIBqzddKs6S2sHImQC9KY8j3laT2dWM5SPHj0No8FeEjAWPeUXqGyQcJgj8RKssYncO/yIQXNb79E+g==" />
    <add key="encrypted-text" value="7yDag3QXGNnFf9Hy4lD+VoTHYR2C4NC62h3M0OZLg8M=" />
  </appSettings>
</configuration>