<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="preset-question" value="qqq"/>
    <add key="salt1" value="^s@a3lt1"/>
    <add key="salt2" value="~s-+a*?l54Xt))2==."/>
    <add key="salt3" value="%s99a0l7Ot3"/>
    <add key="key-hash" value="EyJQzneREmW20BezlIdhXOPe9vxlNNpXZ21FL+8TfEAbyZ8641eDgTcV8MWirH+WzUaOKAFKCQPf/3dTuu+lAw=="/>
    <add key="encrypted-text" value="FgiQtdQC31NxepJxDNEbsHPZ28jkPetyGEOEkrONoromz1zZgk2g6jQw/0o9sRJx"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
